@import "../common/utils";

.login-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    @include mobile() {
      width: 450px;
    }

    @include tablet() {
      width: 500px;
    }

    @include desktop() {
      width: 550px;
    }
  }
}

.google-login {
  &__button {
    width: 60%;
    margin-bottom: 2rem;
    cursor: pointer;
  }
}
