$navy: #384b60;

#row-wrapper {
  max-width: 992px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nickname-title {
  font-weight: 700;
}

#nickname-submit {
  color: white;
  font-size: 1rem;
  background-color: $navy;
  border-color: $navy;
}

#nickname-warning {
  color: red;
  font-size: 1rem;
  font-weight: 600;
}
